@model WebApplication1.Models.ViewModels.GoiViewModel
@using WebApplication1.Models

@{
    ViewData["Title"] = "Chọn gói dịch vụ";
    ViewData["UserRole"] = User.FindFirst("VaiTro")?.Value;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSidebar.css" />
    <link rel="stylesheet" href="~/css/StyleCG.css" />
    <link href="~/css/tb.css" rel="stylesheet" />
    <title>HUNO - Chon goi</title>

</head>
<body>
    <!-- form chọn gói trong quan ly bai dang -->
    <div class="container">
        <!-- Sidebar -->
        @await Html.PartialAsync("_SidebarPartial", new
            {
                Controller = ViewContext.RouteData.Values["controller"]?.ToString(),
                Action = ViewContext.RouteData.Values["action"]?.ToString(),
                VaiTro = User.FindFirst("VaiTro")?.Value
            })
        <div class="notification-container">
            @await Html.PartialAsync("_Notification")
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <div class="job-container">
                <div class="job-header">
                    <h1 class="job-title">Chọn gói dịch vụ để đẩy bài đăng</h1>
                </div>
                <div class="goi-container">
                    @foreach (var goi in Model.GoiDichVus)
                    {
                        <form asp-controller="ThanhToan" asp-action="XacNhan" asp-route-goiId="@goi.Id" asp-route-baiDangId="@Model.BaiDangId" class="goi-form">
                            <input type="hidden" name="baiDangId" value="@Model.BaiDangId" />
                            <input type="hidden" name="goiID" value="@goi.Id" />
                            <h3 style="text-align:center">@goi.TenGoi</h3>
                            <div>Mô tả: @goi.MoTa</div>
                            <div>Giá: @goi.Gia VND</div>
                            <div>Số ngày hiệu lực: @goi.SoNgayHieuLuc ngày</div>
                            <button type="submit">Chọn gói</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

